.header-table {
    align-content: center;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
    padding: 2vh;
    z-index: 1;
    
}

.paid .status-box {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.unpaid .status-box {
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
}

.table-category {
    margin-top: 10vh;
    margin-top: -2vh;
    z-index: 2;
}

td .pagar-button {
    background-color: #003f69;
    color: #fff;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


