.deviceshelf-controls {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  padding: 0;
  opacity: 0;
  margin-bottom: 20px;
  height: 0;
  transition: all 0.4s ease-in-out;
}

.display-bar-order{
  height: 100px;
  opacity: 1;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.action-button {
  background-color: #3f51b5;
  color: #fff;
  padding: 12px 20px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; 
}

.action-button:hover {
  background-color: #3f51b5;
}

.deviceshelf-section {
    margin: 50px 0;
  }
  
  .deviceshelf-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .deviceshelf-header h3 {
    font-weight: 600;
  }
  
  .deviceshelf-control {
    background-color: transparent;
    border: none;
    color: #555;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    outline: none;
    padding: 0;
    transition: 0.3s;
  }
  
  .deviceshelf-control:hover {
    color: #007bff;
  }
  
  .deviceshelf-control.prev:hover {
    transform: translateX(-5px);
  }
  
  .deviceshelf-control.next:hover {
    transform: translateX(5px);
  }
  
  .deviceshelf-devices {
    display: flex;
    overflow-x: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: 12px solid rgba(0, 0, 0, 0.0);
    -ms-overflow-style: none;
  }

  
  .device {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    padding: 20px;
    width: 220px;
  }
  
  .device img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 120px;
  }

  .card-device{
    transition: all 0.3s ease-in-out;
  }

  .card-device:hover{
    transform: scale(1.05);
    box-shadow: 0 0 12px #999;
  }